{#
Custom prototype component: catalogue accordion.
A restyled variant of the TNA accordion that mirrors the `etna-accordion`
on the TNA beta catalogue record page. It reuses the TNA accordion's markup
and JavaScript and only changes the styling.
See docs/custom-components.md

Params: the same as tnaAccordion (id, itemHeadingLevel, items, classes ...)
#}
{%- from "nationalarchives/components/accordion/macro.njk" import tnaAccordion -%}

{% macro protoCatalogueAccordion(params) -%}
{{ tnaAccordion({
  id: params.id,
  itemHeadingLevel: params.itemHeadingLevel or 3,
  itemHeadingSize: 'm',
  items: params.items,
  singleOpenItem: params.singleOpenItem,
  classes: 'proto-catalogue-accordion' ~ (' ' ~ params.classes if params.classes else ''),
  attributes: params.attributes
}) }}
{%- endmacro %}
