{% extends "layouts/main.html" %}

{% set pageTitle = "Alpha prototypes" %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">
        {{ serviceName }}: alpha prototypes
      </h1>
      <p>Prototypes and versions for the {{ serviceName }} alpha. This page is for the team and is not shown in research sessions.</p>
      {% if (GOVUKPrototypeKit.isDevelopment) %}
      <p>
        <a href="/manage-prototype">Manage your prototype</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
